*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: idroid;
    src: url(../fontes/idroid.otf);
}

header{
    background: linear-gradient(to bottom,rgb(141, 235, 141), green);
    color: white;
    text-align: center;
    height: 100px;
    padding-top: 20px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.534);
    padding-bottom: 40px;
}

header > p{
    width: 350px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

nav{
    background-color: green;
    padding: 15px 0px 15px 0px;

    
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    padding: 10px;
    font-weight: bolder;
}

nav a:hover{
    background-color: rgb(144, 221, 144);
    padding: 10px;
    border-radius: 4px;
}

body{
    background-color: rgba(158, 223, 158, 0.651);
    
}

main img{
    width: 100%;
}

#pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main{
    max-width: 750px;
    min-width: 320px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.63);
    padding: 15px;
    border-radius: 0px 0px 8px 8px;
}

main p{
    text-indent: 25px;
    text-align: justify;
    padding: 15px 0px 15px 0px;
}

main > h1{
    font-family: idroid, Helvetica, sans-serif;
    font-size: 1.5em;
    color: rgb(2, 99, 2);
}

main > h2{
    font-family: idroid, Helvetica, sans-serif;
    background: linear-gradient(to right,green, transparent);
}

aside > h3{
    background-color: green;
    color: white;
    margin: -10px -10px 0px -10px;
    padding: 9px;
    border-radius: 9px 9px 0px 0px;
}
aside{
    background-color: rgba(130, 235, 130, 0.719);
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.568);
    margin-bottom: 15PX;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0';
    margin: auto;
}

footer{
    background-color: green;
    text-align: center;
    padding: 4px;
    color: white;
}

footer > span{
    color: white;
    font-weight: bolder;
}